<h1></h1>

<form method="post" action="/">
  <p> Puppy Name: <input type="text" id="name" name="name"></p>
  <p> Puppy Breed: <input type="text" id="breed" name="breed"></p>
  <p> Puppy Age: <input type="integer" id="age" name="age"></p>
  <input type="submit">
</form>
