<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to puppy adoption.</title>
  </head>
  <body>
    <form method="POST" action="/">
      <p> Puppy Name: <%@puppy.name%></p>
      <p> Puppy Breed: <%@puppy.breed%></p>
      <p> Puppy Age: <%@puppy.age%></p>
      <p><input type="submit">Submit</p>
    </form>
  </body>
</html>
